# Ignore gedit backups
*~

# Ignore hidden files, except for gitignore
.*
!.gitignore
*.user

# Ignore binaries
/obj
/packages
/amiitool-csharp/bin
/amiitool-csharp/obj

# Ignore copyrighted files
/key